{% extends 'base.html' %}
{% block content %}
<main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> Welcome to FireAway by Singh </h1>
          <p></p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
            <div class="info">
              <h4>Total sensors</h4>
              <p><b>{{td}}</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small info coloured-icon"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
              <h4>Good Sensors</h4>
              <p><b>{{gd}}</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small warning coloured-icon"><i class="icon fa fa-files-o fa-3x"></i>
            <div class="info">
              <h4>Faulty Sensors</h4>
              <p><b>{{yd}}</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small danger coloured-icon"><i class="icon fa fa-star fa-3x"></i>
            <div class="info">
              <h4>Triggered Sensors</h4>
              <p><b>{{rd}}</b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Monthly Status</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Device Status</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="pieChartDemo"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">WTA Mini Project</h3>
            <ul>
              <li>Submitted by Shubham Singh 1JB16CS156</li>
              <li>Built with Django, JavaScript and HTML</li>
              <li>Responsive and modular code</li>
              <li>Widgets to effectively display statistics</li>
              
            <li>In mass mid segment, typically there will very few fire sensors and detectors connected to a panel in the site.</li>
            <li> If we consider retain chain customers like Dominos, Vodafone, etc, they will be having 100s of such premises. </li>
            <p class="mt-4 mb-4"><a class="btn btn-info mr-2 mb-2" href="https://github.com/shubham2637/FireAway-Singh" target="_blank"><i class="fa fa-github"></i>GitHub Repo</a>
            <a class="btn btn-info mr-2 mb-2" href="https://github.com/shubham2637" target="_blank"><i class="fa fa-github"></i>GitHub Profile</a></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Dashboard Highlights</h3>
            <li>Developed a cloud based fire health monitoring dashboard that allows all sites to be remotely monitored to take prompt action.</li>
            <li>It allows effective control over the situation till the alarm is acknowledged / cleared.</li>
            
            <p>The source code is available on GitHub. If anything is missing or weird please report it as an issue on <a href="https://github.com/shubham2637/FireAway-Singh" target="_blank">GitHub</a>. If you want to contribute to this Project pull requests are always welcome. @shubham2637</p>
          </div>
        </div>
      </div>
    </main>
{% endblock %}
