{% extends 'base.html' %}
{% block content %}
<main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i> Panel #{{p.id}}</h1>
          <h3>Panel details</h3>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active"><a href="#">Data Table</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <table class="table table-hover table-bordered" id="sampleTable">
                <thead>

                                     </thead>
                                     <tbody>
                                         <tr class="odd gradeX">
                                             <td>Panel Name</td>
                                             <td>{{p.name}}</td>
                                         </tr>
                                         <tr class="odd gradeX">
                                            <td>Panel Building</td>
                                            <td>{{p.building.name}}</td>
                                        </tr>
                                          <tr class="odd gradeX">
                                             <td>Location</td>
                                             <td>{{p.location}}</td>
                                         </tr>
                                         <tr class="odd gradeX">
                                            <td> Panel Zone Count</td>
                                            <td>{{zc}}</td>
                                        </tr>
                                          <tr class="odd gradeX">
                                             <td>Panel Device Count</td>
                                             <td>{{dc}}</td>
                                         </tr>
                                     </tbody>
                                 </table>


          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
