{% extends 'base.html' %}
{% block content %}
<main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i> Panel List</h1>
          <p>Table to Panel data effectively</p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active"><a href="#">Data Table</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <table class="table table-hover table-bordered" id="sampleTable">
                <thead>
                  <tr>
                    <th> <b>Panel ID</b> </th>

         <th> <b>Name</b>  </th>

         <th> <b>Building</b> </th>
                </tr>
                </thead>
                {% for d in panels %}

                                    <tbody>



                                        <td> <a href="/panel/{{d.id}}">{{d.id}}</a> </td>

                                        <td>{{d.name}} </td>


                                        <td><a href="/building/{{d.building.id}}">{{d.building.name}}</a> </td>

                                    </tbody>
                                    {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
