{% extends 'base.html' %}
{% block content %}
<main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i> Zone #{{z.id}}</h1>
          <h3>Zone details</h3>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active"><a href="#">Data Table</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <table class="table table-hover table-bordered" id="sampleTable">
                <thead>

                                      </thead>
                                      <tbody>
                                          <tr class="odd gradeX">
                                              <td>Zone Id</td>
                                              <td>{{z.id}}</td>
                                          </tr>
                                           <tr class="odd gradeX">
                                              <td>Installed On</td>
                                              <td>{{z.date_time_created}}</td>
                                          </tr>
                                          <tr class="odd gradeX">
                                             <td>Zone name</td>
                                             <td>{{z.name}}</a></td>
                                         </tr>
                                           <tr class="odd gradeX">
                                              <td>Device Count</td>
                                              <td>{{dc}}</td>
                                          </tr>

                                           <tr class="odd gradeX">
                                              <td>Panel ID</td>
                                              <td><a href="/panel/{{z.panel.id}}">{{z.panel.id}}</a></td>
                                          </tr>
                                           <tr class="odd gradeX">
                                              <td>Building Details</td>
                                              <td><a href="/building/{{z.building.id}}">{{z.building.name}}</a></td>
                                          </tr>
                                      </tbody>
                                  </table>


          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
